// create the population of AMH and Neanderthal ancestors
1 {
    sim.addSubpop("p1", $afr_size);
}


// split between AMH and Neanderthals after a period of burnin
$burnin {
    sim.addSubpopSplit("p2", $nea_size, p1);
    p1.setSubpopulationSize($afr_size);
}


// split between non-Africans and Africans
$out_of_africa late() {
    sim.addSubpopSplit("p3", $founder_size, p1);

    sim.outputFull("$output_prefix" + getSeed() + ".txt");
    sim.simulationFinished();
}

1:$out_of_africa {
    if (sim.generation % 100 == 1) {
       cat("INFO :: Simulation of h = $dominance_coef (" + sim.generation + "/$out_of_africa generations)\n");
    }
}
